<p id="notice"><%= notice %></p>

<h1>Paintings Contest</h1>
<h2>Click on your favorite image</h2>
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paintings.each do |painting| %>
      <tr>
        <td><%= painting.name %></td>
        <td><%= painting.description %></td>
        <td><%= painting.link %></td>
        <td><%= link_to 'Show', painting %></td>
        <td><%= link_to 'Edit', edit_painting_path(painting) %></td>
        <td><%= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<img id="one" src="http://media.techeblog.com/images/pokemon-painting.jpg" width="20%" height="250"/>
<img id="two" src="http://main-designyoutrust.netdna-ssl.com/wp-content/uploads/2011/02/breloom_painting_by_purplekecleon-d35js5j-600x431.jpg?iv=81" width="20%" height="250"/>
<img id="three" src="https://ae01.alicdn.com/kf/HTB1x8YrKVXXXXaGXpXXq6xXFXXXY/JLKing-Paste-DIY-Pokemon-Go-Pet-Elf-Fruit-Printing-Full-Area-Mosaic-Diamond-Painting-Square-Embroidery.jpg_640x640.jpg" width="20%" height="250"/>

<br>

<script>
  $("img").on("click", function(){
    alert("Your vote has been registered!");
  });
</script>

<style>
  body{
    background: lightblue;
  }
</style>